<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spoti Wrapped</title>
  </head>
  <body>
    <h1>File Upload</h1>
    <p>Upload your JSON file containing your streaming history below:</p>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file" accept=".json" multiple></p>
      <p><input type="submit" value="Generate"></p>
    </form>
  </body>
</html>